type thermald, domain;
type thermald_exec, exec_type, file_type;
init_daemon_domain(thermald)

allow thermald tmpfs:file write;
allow thermald property_socket:sock_file write;
allow thermald init:unix_stream_socket { connectto };
allow thermald system_data_file:file { open read };
allow thermald system_data_file:dir { write add_name remove_name };
allow thermald sysfs:file { open read write getattr ioctl };
allow thermald system_prop:property_service set;
allow thermald powerctl_prop:property_service set;
allow thermald rild:unix_stream_socket { connectto };
allow thermald thermald:netlink_kobject_uevent_socket { create setopt bind read };
allow thermald thermald_data_file:file { open read write create unlink getattr };
allow thermald thermald_data_file:dir { open read write search remove_name add_name getattr rmdir };
allow thermald system_file:dir { open read };
