import /init.common.rc

on post-fs-data
    setprop fpga.target.enable 1
    setprop debug.delaytime.min 10
    setprop debug.delaytime.mid 100
    setprop debug.delaytime.max 1000
    setprop debug.android_watchdog.disable 1
    setprop debug.fb.16bit 1
# NFC local data and nfcee xml storage
    mkdir /data/nfc 0770 nfc nfc
    mkdir /data/nfc/param 0770 nfc nfc

#modify permission for voicetrigger dev
    chown system  audio /dev/rt5512
    chmod 660     /dev/rt5512

    insmod /lib/modules/sprdbt_tty.ko
    insmod /lib/modules/sprd_fm.ko

on boot

