#add for board init.rc for recovery mode
on post-fs


service gnss_download /system/bin/gnss_download
    class cali
    user system
    group system
    oneshot

on factorytest

on cali
    mkdir /data/gnss/ 0777 system system
    mkdir /data/gnss/bin/ 0777 system system
    mkdir /data/gnss/supl/ 0777 system system
    mkdir /data/gnss/config/ 0777 system system
    mkdir /data/gnss/lte/ 0777 system system
    chmod 666 /data/gnss/bin/gnssmodem.bin
    chmod 666 /data/gnss/config/config.xml
    chmod 666 /data/gnss/supl/supl.xml
    chmod 666 /data/gnss/supl/spirentroot.cer
    chmod 666 /data/gnss/lte/ext.eph
    chmod 666 /data/gnss/lte/jpleph.405
    chmod 666 /data/gnss/gnss.log
    chmod 666 /data/gnss/nmea.log
    chmod 666 /productinfo/tsx.dat
    chmod 666 /productinfo/txdata.txt
on factorytest
    mkdir /data/gnss/ 0777 system system
    mkdir /data/gnss/bin/ 0777 system system
    mkdir /data/gnss/supl/ 0777 system system
    mkdir /data/gnss/config/ 0777 system system
    mkdir /data/gnss/lte/ 0777 system system
    chmod 666 /data/gnss/bin/gnssmodem.bin
    chmod 666 /data/gnss/config/config.xml
    chmod 666 /data/gnss/supl/supl.xml
    chmod 666 /data/gnss/supl/spirentroot.cer
    chmod 666 /data/gnss/lte/ext.eph
    chmod 666 /data/gnss/lte/jpleph.405
    chmod 666 /data/gnss/gnss.log
    chmod 666 /data/gnss/nmea.log
    chmod 666 /productinfo/tsx.dat
    chmod 666 /productinfo/txdata.txt



service rpmbserver /system/bin/rpmbserver -r /dev/block/mmcblk0rpmb
    class cali
    socket rpmbserver stream 0666 rpmbserver rpmbserver
    group system
    seclabel u:r:tee:s0

on factorytest
    setprop sprd.storageproxyd.enabled 1


#on cali mode set sprd.storageproxyd.enabled=1 in production tools
on property:sprd.storageproxyd.enabled=1
    mkdir /data/sprd_ss 0770 system system
    start rpmbproxyd
    start storagensproxyd

#service name must be < 16
service rpmbproxyd /system/bin/sprdstorageproxyd -f rpmb -d /dev/trusty-ipc-dev0 -p /data/sprd_ss -r /dev/block/mmcblk0rpmb
    class core
    group system
    seclabel u:r:tee:s0

service storagensproxyd /system/bin/sprdstorageproxyd -f ns -d /dev/trusty-ipc-dev0 -p /data/sprd_ss -r /dev/block/mmcblk0rpmb
    class late_start
    group system
    seclabel u:r:tee:s0
